.body{
  background-color: rgb(210,210,210);
}

.main{
  float: right;
  width: 63.4%;
  text-align: center;
  margin-right: 2.6%;
}

.title{
  margin-top: 15%;
  font-size: 2em;
}

.italicize{
  font-style: italic;
  display: inline-block;
}

.header{
  font-size: 1.5em;
}

.text{
  text-align: left;
  padding: 1%;
}

.gallery{
  float: left;
  width: 33.33%;
}

.image{
  float: left;
  width: 99%;
  height: auto;
  padding: 1%;
}

.caption{
  font-size: .6em;
}

.larger{
  font-size: 1.66em;
}

a:hover{
  color: red;
}

a:visited{
    /* text-decoration: none; */
  color: black;
}

.aside{
  float: center;
  width 22%;
  text-align: center;
}

.page{
  font-size: 2em;
}
